<section class="usage-policy mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="usage-policy-ontainer">
            <h6 class="usage-path mb-3">الرئيسية/<span class="me-2">سياسة الخصوصية </span></h6>
            <p class="usage-details "> في معهد القافلة العالمية للتدريب، نحن ملتزمون بحماية خصوصية المستخدمين. تشرح هذه السياسة كيفية جمع، استخدام، وحماية المعلومات الشخصية الخاصة بك. </p>
            <ol class="usage-details ">
              <li>جمع المعلومات</li>
              <p>نقوم بجمع المعلومات الشخصية عندما تقوم بالتسجيل في الموقع، التسجيل في البرامج التدريبية، أو عند التواصل معنا. قد تشمل المعلومات التي نجمعها: الاسم، البريد الإلكتروني، رقم الهاتف، والمعلومات الوظيفية.</p>
              <li>استخدام المعلومات</li>
              <p>- نستخدم المعلومات الشخصية لتقديم الخدمات التدريبية، تحسين تجربة المستخدم، والتواصل معك بشأن البرامج والخدمات.<br>
              - قد نستخدم المعلومات أيضاً لأغراض تسويقية، بشرط موافقتك على ذلك.
              </p>
              <li>حماية المعلومات</li>
              <p>نحن نتخذ جميع التدابير الأمنية اللازمة لحماية المعلومات الشخصية من الوصول غير المصرح به، الاستخدام أو الكشف. يتم تخزين البيانات بشكل آمن ويتم الوصول إليها فقط من قبل الموظفين المخولين.</p>
              <li>مشاركة المعلومات</li>
              <p>نحن لا نشارك المعلومات الشخصية مع أطراف ثالثة إلا بموافقتك الصريحة أو إذا كان ذلك مطلوباً بموجب القانون.</p>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </section>