<section class="usage-policy mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="usage-policy-ontainer">
            <h6 class="usage-path mb-3">الرئيسية/<span class="me-2"> الشروط والأحكام </span></h6>
            <p class="usage-details "> توضح هذه الشروط والأحكام القواعد التي يجب على المستخدمين اتباعها عند استخدام الموقع والخدمات التي نقدمها في معهد القافلة العالمية للتدريب.</p>
            <ol class="usage-details ">
              <li>التسجيل والحسابات </li>
                <p>يجب على المستخدمين التسجيل في الموقع لإنشاء حساب واستخدام بعض الخدمات. يجب أن تكون المعلومات المقدمة دقيقة وحديثة.
                    يحق للمعهد إلغاء أو تعليق أي حساب ينتهك هذه الشروط والأحكام.<br>
                    </p>
              <li>البرامج التدريبية </li>
              <p>تم تقديم البرامج التدريبية عبر الإنترنت أو حضورياً وفقاً للتفاصيل المنشورة على الموقع.<br>
                يحق للمعهد تعديل محتوى البرامج التدريبية، الجداول الزمنية، والمدربين دون إشعار مسبق.
                </p>

              <li> الدفع والاسترداد</li>
               <p>يجب دفع الرسوم المقررة للبرامج التدريبية قبل بدء البرنامج. <br>
                قد تكون هناك سياسات استرداد محددة تعتمد على نوع البرنامج وتوقيت الإلغاء.
                </p>

              <li>الالتزامات والمسؤوليات  </li>
                <p>المستخدمون مسؤولون عن الحفاظ على سرية بيانات تسجيل الدخول الخاصة بهم.<br>
                    المعهد ليس مسؤولاً عن أي أضرار ناتجة عن الاستخدام غير الصحيح للموقع أو عدم الامتثال لهذه الشروط.
                    </p>
            
              <li>التعديلات</li>
              <p>يحتفظ معهد القافلة العالمية للتدريب بالحق في تعديل هذه الشروط والأحكام في أي وقت. سيتم إعلام المستخدمين بأي تغييرات جوهرية عبر البريد الإلكتروني أو عبر الموقع.</p>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </section>