<section class="usage-policy mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="usage-policy-ontainer">
            <h6 class="usage-path mb-3">الرئيسية/<span class="me-2">سياسة الدفع</span></h6>
            <p class="usage-details ">يجب دفع الرسوم المقررة للبرامج التدريبية قبل بدء البرنامج. 
              قد تكون هناك سياسات استرداد محددة تعتمد على نوع البرنامج وتوقيت الإلغاء.
              </p>
          </div> 
        </div>
      </div>
    </div>
  </section>